@font-face {
  font-family: "Century Gothic";
  src: url("../assets/fonts/CenturyGothic.ttf") format("truetype");
}
@font-face {
  font-family: "Century Gothic-Bold";
  src: url("../assets/fonts/CenturyGothic-Bold.woff") format("truetype");
}
@font-face {
  font-family: "Century Gothic-BoldItalic";
  src: url("../assets/fonts/CenturyGothic-BoldItalic.woff") format("truetype");
}
@font-face {
  font-family: "Century Gothic-Italic";
  src: url("../assets/fonts/CenturyGothic-Italic.woff") format("truetype");
}
