@font-face {
  font-family: "Century Gothic";
  src: url(CenturyGothic.woff) format("truetype");
}
@font-face {
  font-family: "Century Gothic-Bold";
  src: url(CenturyGothic-Bold.woff) format("truetype");
}
@font-face {
  font-family: "Century Gothic-BoldItalic";
  src: url(CenturyGothic-BoldItalic.woff) format("truetype");
}
@font-face {
  font-family: "Century Gothic-Italic";
  src: url(CenturyGothic-Italic.woff) format("truetype");
}



* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000; }

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Century Gothic";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  body.lock {
    overflow: hidden; }
    @media (max-width: 767.98px) {
      body.lock {
        width: 100%;
        position: fixed;
        overflow: hidden; } }

input,
button,
textarea {
  font-family: "Century Gothic"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1920px;
  margin: 0 15%;
  width: 100%; }
  @media (max-width: 1932px) {
    .container {
      max-width: 1371px; } }
  @media (max-width: 1200px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

.header-top__logo {
  position: relative;
  top: 26px; }

.header-top__buttons {
  height: 94px;
  display: flex;
  flex-direction: column;
  margin: 13px 0 0 0; }
  @media (max-width: 767.98px) {
    .header-top__buttons {
      flex-direction: row;
      align-items: center; } }

.header-top__callback {
  width: 216px;
  height: 32px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: #019ec4;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 0 14px 0;
  transition: all 0.3s ease 0s; }
  .header-top__callback:hover {
    transition: all 0.3s ease 0s;
    background-color: #fff;
    border: 1px solid #019ec4;
    color: #019ec4; }
  @media (max-width: 767.98px) {
    .header-top__callback {
      margin: 0;
      width: 182px; } }
  @media (max-width: 520px) {
    .header-top__callback {
      display: none; } }
  .header-top__callback.active {
    display: none; }
    @media (max-width: 767.98px) {
      .header-top__callback.active {
        display: block;
        width: 100%;
        margin: 0 0 46px 0; } }

.header-top__buttons-bottom {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 767.98px) {
    .header-top__buttons-bottom {
      order: -1;
      margin: 0 16px 0 0; } }
  @media (max-width: 520px) {
    .header-top__buttons-bottom {
      flex-direction: column;
      margin: 0 0 10px 0; } }

.header-top__enter {
  width: 98px;
  height: 32px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: #ffffff;
  color: #5a5a5a;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 20px;
  transition: all 0.3s ease 0s; }
  .header-top__enter:hover {
    background-color: #019ec4;
    color: #fff; }
  .header-top__enter img {
    margin: 0 0 0 -6px; }
  @media (max-width: 767.98px) {
    .header-top__enter {
      width: 34px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 16px 0 0; }
      .header-top__enter img {
        margin: 0; } }
  @media (max-width: 520px) {
    .header-top__enter {
      width: 77px;
      height: 25px;
      margin: 0 0 10px 0; } }
  .header-top__enter span {
    display: inline-block; }
    @media (max-width: 767.98px) {
      .header-top__enter span {
        display: none; } }
    @media (max-width: 520px) {
      .header-top__enter span {
        display: inline;
        color: #707070;
        font-size: 10px;
        margin: 0 0 0 5px; } }

.header-top__basket {
  width: 98px;
  height: 32px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: #ffffff;
  transition: all 0.3s ease 0s; }
  .header-top__basket:hover {
    transition: all 0.3s ease 0s;
    background-color: #019ec4;
    color: #fff; }
    .header-top__basket:hover .header-top__basket-counter {
      transition: all 0.3s ease 0s; }
      .header-top__basket:hover .header-top__basket-counter div {
        transition: all 0.3s ease 0s;
        background-color: #fff; }
        .header-top__basket:hover .header-top__basket-counter div span {
          transition: all 0.3s ease 0s;
          color: #019ec4; }
  @media (max-width: 767.98px) {
    .header-top__basket {
      width: 69px; } }
  @media (max-width: 520px) {
    .header-top__basket {
      width: 76px;
      height: 24px; } }

.header-top__basket-counter {
  display: inline-block;
  background: url(c865430043b1873f6ac137ba3001f6b1.svg) left no-repeat;
  padding: 0 0 0 24px; }
  .header-top__basket-counter div {
    display: flex;
    width: 19px;
    height: 19px;
    background-color: #019ec4;
    border-radius: 50%;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
    justify-content: center; }

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  max-width: 1395px;
  padding: 0 12px;
  width: 100%;
  margin: 0 auto; }
  .header-top-container {
    background: rgba(132, 132, 132, 0.05); }
  @media (max-width: 767.98px) {
    .header-top {
      height: 85px; } }

.water {
  max-width: 300px;
  width: 100%;
  margin: 18px auto 0px 47px; }
  @media (max-width: 767.98px) {
    .water {
      margin: 18px auto 0 14px; } }
  .water__title {
    color: #000000;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    letter-spacing: 2px; }
    @media (max-width: 767.98px) {
      .water__title {
        font-size: 14px;
        max-width: 275px;
        line-height: 21px;
        margin: -7px 0 0 0;
        letter-spacing: 1.5px; } }
    @media (max-width: 560px) {
      .water__title {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 15px; } }
  .water__health {
    color: #050505;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    background-image: url(90b2db36838ebcca435874e5292fe27b.svg);
    background-repeat: no-repeat;
    padding: 0 0 0 26px;
    height: 16px; }
    @media (max-width: 1030px) {
      .water__health {
        display: none; } }

.contacts {
  max-width: 704px;
  width: 100%;
  padding: 0 42px 0 0; }
  @media (max-width: 767.98px) {
    .contacts {
      display: none; } }
  .contacts__top {
    display: flex;
    margin: 3px 0 14px 0;
    justify-content: space-between; }
    .contacts__top-select {
      display: flex;
      align-items: center;
      margin: 0 auto 0 0; }
      .contacts__top-select.active {
        display: none; }
        .contacts__top-select.active p {
          color: #b0b0b0;
          margin: 0 0 0 26px;
          font-size: 12px; }
        .contacts__top-select.active div {
          align-items: center;
          display: flex;
          margin: 0 0 25px 0; }
        @media (max-width: 767.98px) {
          .contacts__top-select.active {
            display: inline-block; } }
      @media (max-width: 1030px) {
        .contacts__top-select {
          margin: 0 10px 0 auto; } }
  .contacts__mail {
    color: #5a5a5a;
    line-height: 24px;
    background: url(56401d169dae337d0935e16dff639036.svg) left no-repeat;
    padding: 0 0 0 20px;
    margin: 0 auto 0;
    transition: all 0.3s ease 0s; }
    .contacts__mail:hover {
      transition: all 0.3s ease 0s;
      color: #46b7d3; }
    @media (max-width: 1200px) {
      .contacts__mail {
        margin: 0 10px 0 0; } }
    @media (max-width: 767.98px) {
      .contacts__mail {
        display: block;
        margin: 0 0 27px 0; } }
    @media (max-width: 1200px) {
      .contacts__mail span {
        display: none; } }
    @media (max-width: 767.98px) {
      .contacts__mail span.active {
        display: inline;
        margin: 0 0 0 6px; } }
    @media (max-width: 767.98px) {
      .contacts__mail.active {
        display: inline; } }
  .contacts__tel {
    color: #5a5a5a;
    line-height: 24px;
    background: url(d833e65caf4f766f9b5982d518506b02.svg) left no-repeat;
    padding: 0 0 0 20px;
    transition: all 0.3s ease 0s; }
    .contacts__tel:hover {
      transition: all 0.3s ease 0s;
      color: #46b7d3; }
    @media (max-width: 767.98px) {
      .contacts__tel {
        display: block;
        margin: 0 0 30px 0; } }
    @media (max-width: 1030px) {
      .contacts__tel span {
        display: none; } }
    @media (max-width: 767.98px) {
      .contacts__tel span.active {
        display: block;
        margin: 0 0 0 5px; } }
  .contacts__bottom {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1030px) {
      .contacts__bottom {
        justify-content: flex-end; } }
  .contacts__language {
    font-family: "Century Gothic";
    height: 24px;
    color: #5a5a5a;
    line-height: 24px;
    -webkit-appearance: none;
            appearance: none;
    background-color: inherit;
    margin: 0 0 0 10px;
    letter-spacing: 1px;
    border-bottom: 2px dashed #46b7d3;
    cursor: pointer;
    transition: all 0.3s ease 0s; }
    .contacts__language:hover {
      transition: all 0.3s ease 0s;
      color: #46b7d3; }
    .contacts__language.active {
      display: none; }
      @media (max-width: 767.98px) {
        .contacts__language.active {
          display: block; } }

.networks {
  display: flex;
  align-items: center; }
  @media (max-width: 767.98px) {
    .networks.active {
      display: inline-block; } }
  .networks__text {
    text-transform: uppercase;
    font-size: 13px;
    color: #020202;
    margin: 0 15px 0 0; }
    @media (max-width: 1200px) {
      .networks__text {
        display: none; } }
    @media (max-width: 767.98px) {
      .networks__text.active {
        display: inline-block; } }
  .networks__vk {
    margin: 0 13px 0 0;
    display: flex; }

.modal-window {
  display: none;
  max-width: 560px;
  width: 100%;
  height: 396px; }
  .modal-window__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 0 35px 0; }
    @media (max-width: 580px) {
      .modal-window__title {
        font-size: 20px;
        margin: 0 0 15px 0; } }
  .modal-window__text {
    font-size: 14px;
    margin: 0 0 10px 0; }
    @media (max-width: 580px) {
      .modal-window__text {
        font-size: 12px;
        margin: 0 0 5px 0; } }
  .modal-window_thx {
    height: 530px;
    padding-bottom: 0; }
    .modal-window_thx div {
      background: url(e00cb6a2b8020f8ac92bba002f09954b.png) no-repeat;
      background-size: 80%;
      height: 300px; }
    .modal-window_thx__text {
      line-height: 20px;
      margin: 0 0 20px 0; }
  .modal-window__img-heart {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 250px; }
  .modal-window__confidential {
    font-size: 10px;
    color: #878787;
    background-size: 30px 30px;
    padding: 0 0 0 15px;
    margin: 0px 0px 30px -5px; }
  .modal-window__call {
    max-width: 449px;
    text-align: center;
    width: 100%;
    height: 73px;
    box-shadow: 0 10px 15px rgba(3, 43, 56, 0.05);
    background-color: #019ec4;
    margin: 0 auto;
    display: block;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    transition: all 0.3s ease 0s; }
    .modal-window__call:hover {
      transition: all 0.3s ease 0s;
      background-color: #fff;
      color: #019ec4;
      border: 1px solid #019ec4; }

.forms {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 480px) {
    .forms {
      height: 50px; } }
  .forms__tel {
    width: 290px;
    height: 78px;
    color: #848484;
    font-size: 10px;
    margin: 0 5px 0 0; }
    .forms__tel span {
      margin: 0px 11px 0 0px; }
    @media (max-width: 580px) {
      .forms__tel {
        width: 200px; } }
    @media (max-width: 480px) {
      .forms__tel {
        width: 120px; } }
  .forms__text {
    display: flex;
    flex-direction: column;
    margin: 21px 0 0 0px;
    padding: 5px 0 5px 5px;
    border: 1px solid #fff; }
    .forms__text.error {
      border: 1px solid red; }
    .forms__text span {
      margin: 0px 11px 0 0px; }
    @media (max-width: 580px) {
      .forms__text {
        margin: 0; } }
  .forms__number {
    color: #000000;
    font-size: 21px; }
    @media (max-width: 580px) {
      .forms__number {
        font-size: 16px; } }
    @media (max-width: 480px) {
      .forms__number {
        font-size: 14px; } }
  .forms__person {
    width: 290px;
    height: 78px;
    color: #848484;
    font-size: 10px;
    margin: 0 0 0 5px; }
    @media (max-width: 580px) {
      .forms__person {
        width: 200px; } }
    @media (max-width: 480px) {
      .forms__person {
        width: 120px; } }
  .forms__name {
    font-size: 21px; }
    @media (max-width: 580px) {
      .forms__name {
        font-size: 16px; } }
    @media (max-width: 480px) {
      .forms__name {
        font-size: 14px; } }

.header-bottom {
  display: flex;
  align-items: center;
  height: 56px;
  max-width: 1395px;
  padding: 0 12px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 767.98px) {
    .header-bottom {
      height: 43px;
      justify-content: flex-end; } }

.nav {
  width: 100%; }
  .nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 95px;
    max-width: 1277px; }
    @media (max-width: 767.98px) {
      .nav__list {
        margin: 0; } }
  .nav__item {
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.3s ease 0s; }
    .nav__item:hover {
      transition: all 0.3s ease 0s;
      color: #019ec4; }
    @media (max-width: 1200px) {
      .nav__item {
        font-size: 14px; } }
    @media (max-width: 1030px) {
      .nav__item {
        font-size: 12px; } }
    @media (max-width: 767.98px) {
      .nav__item {
        font-size: 16px; } }

.menu {
  display: none; }
  @media (max-width: 767.98px) {
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px; } }
  .menu__title {
    color: #707070; }
    @media (max-width: 520px) {
      .menu__title {
        font-size: 10px; } }

.menu-header__icon {
  display: none;
  width: 16px;
  height: 9px;
  margin: 0 5px 0 0;
  cursor: pointer;
  z-index: 1;
  position: relative; }
  .menu-header__icon span {
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #707070; }
    .menu-header__icon span:first-child {
      top: 0; }
    .menu-header__icon span:nth-child(2) {
      top: 4px; }
    .menu-header__icon span:last-child {
      top: auto;
      bottom: 0; }
  @media (max-width: 767.98px) {
    .menu-header__icon {
      display: block; } }

@media (max-width: 767.98px) {
  .menu-header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -110%;
    background-color: #fff;
    z-index: 2;
    padding: 50px 24px 20px 24px;
    overflow: auto;
    transition: all 0.3s ease 0s; }
    .menu-header__menu.active {
      right: 0; } }

.menu-header__list {
  display: flex;
  font-size: 0; }
  @media (max-width: 767.98px) {
    .menu-header__list li {
      margin: 0 0 20px 0; }
      .menu-header__list li:last-child {
        margin: 0 0 30px 0; } }
  @media (max-width: 767.98px) {
    .menu-header__list {
      display: block; } }

.menu-header__link {
  color: #646667;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  transition: all 0.3s ease 0s;
  position: relative; }
  .menu-header__link span {
    position: relative;
    display: block;
    line-height: 28px; }
    .menu-header__link span:after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      height: 1px;
      background-color: #007397;
      bottom: 0;
      transition: all 0.3s ease 0s; }
  @media (max-width: 1200px) {
    .menu-header__link {
      font-size: 11px; } }
  @media (max-width: 767.98px) {
    .menu-header__link {
      font-size: 14px; } }

.close {
  position: absolute;
  right: 18px;
  top: 31px; }
  .close span {
    transform: scale(0); }
    .close span:first-child {
      transform: rotate(-45deg); }
    .close span:last-child {
      transform: rotate(45deg);
      bottom: 8px; }

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%; }

.custom-checkbox:checked + label::before {
  background: url(182458f576e2930f7861bffe2bc6f6a4.svg) center -3px no-repeat;
  background-size: 200%; }

.main {
  height: 520px;
  background: url(beb105df8c3a6e11b91dd847caade217.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  position: relative; }
  .main__img-left {
    position: absolute;
    z-index: 0; }
    @media (max-width: 767.98px) {
      .main__img-left {
        display: none; } }
  .main__img-right {
    position: absolute;
    right: 91px;
    z-index: 1; }
    @media (max-width: 1280px) {
      .main__img-right {
        display: none; } }

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 710px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 6px 0;
  height: 520px;
  max-height: 100%; }
  @media (max-width: 767.98px) {
    .info {
      height: 466px; } }
  .info__container {
    max-width: 710px;
    width: 100%;
    margin: 0 auto;
    z-index: 5; }
  .info__title {
    color: #019ec4;
    font-family: "Century Gothic";
    font-size: 56px;
    text-transform: uppercase;
    margin: 0 0 45px 0;
    text-align: center;
    letter-spacing: 5.6px; }
    @media (max-width: 767.98px) {
      .info__title {
        font-size: 48px; } }
    @media (max-width: 520px) {
      .info__title {
        font-size: 36px; } }
  .info__text {
    font-size: 18px;
    text-align: center;
    line-height: 30px; }
    @media (max-width: 767.98px) {
      .info__text {
        font-size: 16px; } }
    @media (max-width: 520px) {
      .info__text {
        font-size: 14px; } }


/*# sourceMappingURL=main.css.map*/